:root {
  --page-padding: 20px;
  --jwm-backdrop-filter: none;
  --jwm-color-background-brand-bold: var(--ds-background-brand-bold, #09326c);
  --jwm-color-background-brand-bold-hovered: var(
    --ds-background-brand-bold-hovered,
    #0c66e4
  );
  --jwm-color-background-brand-bold-pressed: var(
    --ds-background-brand-bold-pressed,
    #09326c
  );
  --jwm-color-background-disabled: var(--ds-background-disabled, #091e4208);
  --jwm-background-input: var(--ds-background-input, #ffffff);
  --jwm-background-neutral: var(--ds-background-neutral, rgba(9, 30, 66, 0.08));
  --jwm-background-neutral-hovered: var(
    --ds-background-neutral-hovered,
    rgba(9, 30, 66, 0.13)
  );
  --jwm-background-neutral-pressed: var(
    --ds-background-neutral-pressed,
    rgba(9, 30, 66, 0.25)
  );
  --jwm-background-neutral-subtle-hovered: var(
    --ds-background-neutral-subtle-hovered,
    rgba(9, 30, 66, 0.13)
  );
  --jwm-background-neutral-subtle-pressed: var(
    --ds-background-neutral-subtle-pressed,
    rgba(9, 30, 66, 0.25)
  );
  --jwm-background-selected: var(--ds-background-selected, #0052cc);
  --jwm-color-border: var(--ds-border, rgba(9, 30, 66, 0.13));
  --jwm-color-border-input: var(--ds-border-input, #091e4224);
  --jwm-color-border-inverse: var(--ds-border-inverse, #ffffff);
  --jwm-color-border-selected: var(--ds-border-selected, #0052cc);
  --jwm-color-elevation-surface: var(--ds-surface, #ffffff);
  --jwm-color-icon-danger: var(--ds-icon-danger, #ff7452);
  --jwm-color-icon-information: var(--ds-icon-information, #2684ff);
  --jwm-color-icon-success: var(--ds-icon-success, #57d9a3);
  --jwm-color-icon-warning: var(--ds-icon-warning, #ffc400);
  --jwm-color-link: var(--ds-link, #0c66e4);
  --jwm-color-link-pressed: var(--ds-link-pressed, #0055cc);
  --jwm-skeleton: var(--ds-background-neutral, rgba(9, 30, 66, 0.04));
  --jwm-color-text: var(--ds-text, #172b4d);
  --jwm-color-text-disabled: var(--ds-text-disabled, #091e424f);
  --jwm-color-text-inverse: var(--ds-text-inverse, #ffffff);
  --jwm-color-text-selected: var(--ds-text-selected, #0052cc);
  --jwm-color-text-subtle: var(--ds-text-subtle, #42526e);
  --jwm-color-text-subtlest: var(--ds-text-subtlest, #626f86);
  --jwm-content-height: calc(
    100vh - (var(--topNavigationHeight, 0px) + var(--bannerHeight, 0px)) -
      calc(95px + var(--jwm-banner-height, 0px))
  );
  --jwm-content-width: calc(
    100vw - var(--leftPanelWidth, 0px) - var(--leftSidebarWidth, 0px) -
      var(--rightPanelWidth, 0px) - var(--rightSidebarWidth, 0px)
  ) !important;
  --jwm-elevation-surface: var(--ds-surface, #ffffff);
  --jwm-elevation-surface-contrast: transparent;
  --jwm-elevation-surface-contrast-bolder: transparent;
  --jwm-wrapper-background: unset;
  --jwm-wrapper-border-radius: 0;
  --jwm-wrapper-height: calc(
    100vh - (var(--topNavigationHeight, 0px) + var(--bannerHeight, 0px)) -
      calc(95px + var(--jwm-banner-height, 0px))
  );
  --jwm-wrapper-padding: 0;
  --jwm-wrapper-width: calc(
    100vw - var(--leftPanelWidth, 0px) - var(--leftSidebarWidth, 0px) -
      var(--rightPanelWidth, 0px) - var(--rightSidebarWidth, 0px)
  ) !important;
}

[data-color-mode='dark'] {
  --jwm-backdrop-filter: none;
  --jwm-color-background-brand-bold: var(--ds-background-brand-bold, #09326c);
  --jwm-color-background-brand-bold-hovered: var(
    --ds-background-brand-bold-hovered,
    #0c66e4
  );
  --jwm-color-background-brand-bold-pressed: var(
    --ds-background-brand-bold-pressed,
    #09326c
  );
  --jwm-color-background-disabled: var(--ds-background-disabled, #091e4208);
  --jwm-background-input: var(--ds-background-input, #ffffff);
  --jwm-background-neutral: var(--ds-background-neutral, rgba(9, 30, 66, 0.08));
  --jwm-background-neutral-hovered: var(
    --ds-background-neutral-hovered,
    rgba(9, 30, 66, 0.13)
  );
  --jwm-background-neutral-pressed: var(
    --ds-background-neutral-pressed,
    rgba(9, 30, 66, 0.25)
  );
  --jwm-background-neutral-subtle-hovered: var(
    --ds-background-neutral-subtle-hovered,
    rgba(9, 30, 66, 0.13)
  );
  --jwm-background-neutral-subtle-pressed: var(
    --ds-background-neutral-subtle-pressed,
    rgba(9, 30, 66, 0.25)
  );
  --jwm-background-selected: var(--ds-background-selected, #0052cc);
  --jwm-color-border: var(--ds-border, rgba(9, 30, 66, 0.13));
  --jwm-color-border-input: var(--ds-border-input, #091e4224);
  --jwm-color-border-inverse: var(--ds-border-inverse, #ffffff);
  --jwm-color-border-selected: var(--ds-border-selected, #0052cc);
  --jwm-color-elevation-surface: var(--ds-surface, #ffffff);
  --jwm-color-icon-danger: var(--ds-icon-danger, #ff7452);
  --jwm-color-icon-information: var(--ds-icon-information, #2684ff);
  --jwm-color-icon-success: var(--ds-icon-success, #57d9a3);
  --jwm-color-icon-warning: var(--ds-icon-warning, #ffc400);
  --jwm-color-link: var(--ds-link, #0c66e4);
  --jwm-color-link-pressed: var(--ds-link-pressed, #0055cc);
  --jwm-skeleton: var(--ds-background-neutral, rgba(9, 30, 66, 0.04));
  --jwm-color-text: var(--ds-text, #172b4d);
  --jwm-color-text-disabled: var(--ds-text-disabled, #091e424f);
  --jwm-color-text-inverse: var(--ds-text-inverse, #ffffff);
  --jwm-color-text-selected: var(--ds-text-selected, #0052cc);
  --jwm-color-text-subtle: var(--ds-text-subtle, #42526e);
  --jwm-color-text-subtlest: var(--ds-text-subtlest, #626f86);
  --jwm-content-height: calc(
    100vh - (var(--topNavigationHeight, 0px) + var(--bannerHeight, 0px)) -
      calc(95px + var(--jwm-banner-height, 0px))
  );
  --jwm-content-width: calc(
    100vw - var(--leftPanelWidth, 0px) - var(--leftSidebarWidth, 0px) -
      var(--rightPanelWidth, 0px) - var(--rightSidebarWidth, 0px)
  ) !important;
  --jwm-elevation-surface: var(--ds-surface, #ffffff);
  --jwm-elevation-surface-contrast: transparent;
  --jwm-elevation-surface-contrast-bolder: transparent;
  --jwm-wrapper-background: unset;
  --jwm-wrapper-border-radius: 0;
  --jwm-wrapper-height: calc(
    100vh - (var(--topNavigationHeight, 0px) + var(--bannerHeight, 0px)) -
      calc(95px + var(--jwm-banner-height, 0px))
  );
  --jwm-wrapper-padding: 0;
  --jwm-wrapper-width: calc(
    100vw - var(--leftPanelWidth, 0px) - var(--leftSidebarWidth, 0px) -
      var(--rightPanelWidth, 0px) - var(--rightSidebarWidth, 0px)
  ) !important;
}
html[data-theme~='spacing:spacing'] {
  --ds-space-0: 0rem;
  --ds-space-025: 0.125rem;
  --ds-space-050: 0.25rem;
  --ds-space-075: 0.375rem;
  --ds-space-100: 0.5rem;
  --ds-space-150: 0.75rem;
  --ds-space-200: 1rem;
  --ds-space-250: 1.25rem;
  --ds-space-300: 1.5rem;
  --ds-space-400: 2rem;
  --ds-space-500: 2.5rem;
  --ds-space-600: 3rem;
  --ds-space-800: 4rem;
  --ds-space-1000: 5rem;
  --ds-space-negative-025: -0.125rem;
  --ds-space-negative-050: -0.25rem;
  --ds-space-negative-075: -0.375rem;
  --ds-space-negative-100: -0.5rem;
  --ds-space-negative-150: -0.75rem;
  --ds-space-negative-200: -1rem;
  --ds-space-negative-250: -1.25rem;
  --ds-space-negative-300: -1.5rem;
  --ds-space-negative-400: -2rem;
}
html[data-color-mode='light'][data-theme~='light:light'],
html[data-color-mode='dark'][data-theme~='dark:light'] {
  color-scheme: light;
  --ds-text: #172b4d;
  --ds-text-accent-lime: #4c6b1f;
  --ds-text-accent-lime-bolder: #37471f;
  --ds-text-accent-red: #ae2e24;
  --ds-text-accent-red-bolder: #5d1f1a;
  --ds-text-accent-orange: #a54800;
  --ds-text-accent-orange-bolder: #702e00;
  --ds-text-accent-yellow: #7f5f01;
  --ds-text-accent-yellow-bolder: #533f04;
  --ds-text-accent-green: #216e4e;
  --ds-text-accent-green-bolder: #164b35;
  --ds-text-accent-teal: #206a83;
  --ds-text-accent-teal-bolder: #164555;
  --ds-text-accent-blue: #0055cc;
  --ds-text-accent-blue-bolder: #09326c;
  --ds-text-accent-purple: #5e4db2;
  --ds-text-accent-purple-bolder: #352c63;
  --ds-text-accent-magenta: #943d73;
  --ds-text-accent-magenta-bolder: #50253f;
  --ds-text-accent-gray: #44546f;
  --ds-text-accent-gray-bolder: #091e42;
  --ds-text-disabled: #091e424f;
  --ds-text-inverse: #ffffff;
  --ds-text-selected: #0c66e4;
  --ds-text-brand: #0c66e4;
  --ds-text-danger: #ae2e24;
  --ds-text-warning: #a54800;
  --ds-text-warning-inverse: #172b4d;
  --ds-text-success: #216e4e;
  --ds-text-discovery: #5e4db2;
  --ds-text-information: #0055cc;
  --ds-text-subtlest: #626f86;
  --ds-text-subtle: #44546f;
  --ds-link: #0c66e4;
  --ds-link-pressed: #0055cc;
  --ds-link-visited: #5e4db2;
  --ds-link-visited-pressed: #352c63;
  --ds-icon: #44546f;
  --ds-icon-accent-lime: #6a9a23;
  --ds-icon-accent-red: #c9372c;
  --ds-icon-accent-orange: #e56910;
  --ds-icon-accent-yellow: #b38600;
  --ds-icon-accent-green: #22a06b;
  --ds-icon-accent-teal: #2898bd;
  --ds-icon-accent-blue: #1d7afc;
  --ds-icon-accent-purple: #8270db;
  --ds-icon-accent-magenta: #cd519d;
  --ds-icon-accent-gray: #758195;
  --ds-icon-disabled: #091e424f;
  --ds-icon-inverse: #ffffff;
  --ds-icon-selected: #0c66e4;
  --ds-icon-brand: #0c66e4;
  --ds-icon-danger: #c9372c;
  --ds-icon-warning: #e56910;
  --ds-icon-warning-inverse: #172b4d;
  --ds-icon-success: #22a06b;
  --ds-icon-discovery: #8270db;
  --ds-icon-information: #1d7afc;
  --ds-icon-subtle: #626f86;
  --ds-border: #091e4224;
  --ds-border-accent-lime: #6a9a23;
  --ds-border-accent-red: #e2483d;
  --ds-border-accent-orange: #e56910;
  --ds-border-accent-yellow: #b38600;
  --ds-border-accent-green: #22a06b;
  --ds-border-accent-teal: #2898bd;
  --ds-border-accent-blue: #1d7afc;
  --ds-border-accent-purple: #8270db;
  --ds-border-accent-magenta: #cd519d;
  --ds-border-accent-gray: #758195;
  --ds-border-disabled: #091e420f;
  --ds-border-focused: #388bff;
  --ds-border-input: #8590a2;
  --ds-border-inverse: #ffffff;
  --ds-border-selected: #0c66e4;
  --ds-border-brand: #0c66e4;
  --ds-border-danger: #e2483d;
  --ds-border-warning: #e56910;
  --ds-border-success: #22a06b;
  --ds-border-discovery: #8270db;
  --ds-border-information: #1d7afc;
  --ds-border-bold: #758195;
  --ds-background-accent-lime-subtlest: #efffd6;
  --ds-background-accent-lime-subtlest-hovered: #d3f1a7;
  --ds-background-accent-lime-subtlest-pressed: #b3df72;
  --ds-background-accent-lime-subtler: #d3f1a7;
  --ds-background-accent-lime-subtler-hovered: #b3df72;
  --ds-background-accent-lime-subtler-pressed: #94c748;
  --ds-background-accent-lime-subtle: #94c748;
  --ds-background-accent-lime-subtle-hovered: #b3df72;
  --ds-background-accent-lime-subtle-pressed: #d3f1a7;
  --ds-background-accent-lime-bolder: #5b7f24;
  --ds-background-accent-lime-bolder-hovered: #4c6b1f;
  --ds-background-accent-lime-bolder-pressed: #37471f;
  --ds-background-accent-red-subtlest: #ffeceb;
  --ds-background-accent-red-subtlest-hovered: #ffd5d2;
  --ds-background-accent-red-subtlest-pressed: #fd9891;
  --ds-background-accent-red-subtler: #ffd5d2;
  --ds-background-accent-red-subtler-hovered: #fd9891;
  --ds-background-accent-red-subtler-pressed: #f87168;
  --ds-background-accent-red-subtle: #f87168;
  --ds-background-accent-red-subtle-hovered: #fd9891;
  --ds-background-accent-red-subtle-pressed: #ffd5d2;
  --ds-background-accent-red-bolder: #c9372c;
  --ds-background-accent-red-bolder-hovered: #ae2e24;
  --ds-background-accent-red-bolder-pressed: #5d1f1a;
  --ds-background-accent-orange-subtlest: #fff3eb;
  --ds-background-accent-orange-subtlest-hovered: #fedec8;
  --ds-background-accent-orange-subtlest-pressed: #fec195;
  --ds-background-accent-orange-subtler: #fedec8;
  --ds-background-accent-orange-subtler-hovered: #fec195;
  --ds-background-accent-orange-subtler-pressed: #fea362;
  --ds-background-accent-orange-subtle: #fea362;
  --ds-background-accent-orange-subtle-hovered: #fec195;
  --ds-background-accent-orange-subtle-pressed: #fedec8;
  --ds-background-accent-orange-bolder: #c25100;
  --ds-background-accent-orange-bolder-hovered: #a54800;
  --ds-background-accent-orange-bolder-pressed: #702e00;
  --ds-background-accent-yellow-subtlest: #fff7d6;
  --ds-background-accent-yellow-subtlest-hovered: #f8e6a0;
  --ds-background-accent-yellow-subtlest-pressed: #f5cd47;
  --ds-background-accent-yellow-subtler: #f8e6a0;
  --ds-background-accent-yellow-subtler-hovered: #f5cd47;
  --ds-background-accent-yellow-subtler-pressed: #e2b203;
  --ds-background-accent-yellow-subtle: #f5cd47;
  --ds-background-accent-yellow-subtle-hovered: #e2b203;
  --ds-background-accent-yellow-subtle-pressed: #cf9f02;
  --ds-background-accent-yellow-bolder: #946f00;
  --ds-background-accent-yellow-bolder-hovered: #7f5f01;
  --ds-background-accent-yellow-bolder-pressed: #533f04;
  --ds-background-accent-green-subtlest: #dcfff1;
  --ds-background-accent-green-subtlest-hovered: #baf3db;
  --ds-background-accent-green-subtlest-pressed: #7ee2b8;
  --ds-background-accent-green-subtler: #baf3db;
  --ds-background-accent-green-subtler-hovered: #7ee2b8;
  --ds-background-accent-green-subtler-pressed: #4bce97;
  --ds-background-accent-green-subtle: #4bce97;
  --ds-background-accent-green-subtle-hovered: #7ee2b8;
  --ds-background-accent-green-subtle-pressed: #baf3db;
  --ds-background-accent-green-bolder: #1f845a;
  --ds-background-accent-green-bolder-hovered: #216e4e;
  --ds-background-accent-green-bolder-pressed: #164b35;
  --ds-background-accent-teal-subtlest: #e7f9ff;
  --ds-background-accent-teal-subtlest-hovered: #c6edfb;
  --ds-background-accent-teal-subtlest-pressed: #9dd9ee;
  --ds-background-accent-teal-subtler: #c6edfb;
  --ds-background-accent-teal-subtler-hovered: #9dd9ee;
  --ds-background-accent-teal-subtler-pressed: #6cc3e0;
  --ds-background-accent-teal-subtle: #6cc3e0;
  --ds-background-accent-teal-subtle-hovered: #9dd9ee;
  --ds-background-accent-teal-subtle-pressed: #c6edfb;
  --ds-background-accent-teal-bolder: #227d9b;
  --ds-background-accent-teal-bolder-hovered: #206a83;
  --ds-background-accent-teal-bolder-pressed: #164555;
  --ds-background-accent-blue-subtlest: #e9f2ff;
  --ds-background-accent-blue-subtlest-hovered: #cce0ff;
  --ds-background-accent-blue-subtlest-pressed: #85b8ff;
  --ds-background-accent-blue-subtler: #cce0ff;
  --ds-background-accent-blue-subtler-hovered: #85b8ff;
  --ds-background-accent-blue-subtler-pressed: #579dff;
  --ds-background-accent-blue-subtle: #579dff;
  --ds-background-accent-blue-subtle-hovered: #85b8ff;
  --ds-background-accent-blue-subtle-pressed: #cce0ff;
  --ds-background-accent-blue-bolder: #0c66e4;
  --ds-background-accent-blue-bolder-hovered: #0055cc;
  --ds-background-accent-blue-bolder-pressed: #09326c;
  --ds-background-accent-purple-subtlest: #f3f0ff;
  --ds-background-accent-purple-subtlest-hovered: #dfd8fd;
  --ds-background-accent-purple-subtlest-pressed: #b8acf6;
  --ds-background-accent-purple-subtler: #dfd8fd;
  --ds-background-accent-purple-subtler-hovered: #b8acf6;
  --ds-background-accent-purple-subtler-pressed: #9f8fef;
  --ds-background-accent-purple-subtle: #9f8fef;
  --ds-background-accent-purple-subtle-hovered: #b8acf6;
  --ds-background-accent-purple-subtle-pressed: #dfd8fd;
  --ds-background-accent-purple-bolder: #6e5dc6;
  --ds-background-accent-purple-bolder-hovered: #5e4db2;
  --ds-background-accent-purple-bolder-pressed: #352c63;
  --ds-background-accent-magenta-subtlest: #ffecf8;
  --ds-background-accent-magenta-subtlest-hovered: #fdd0ec;
  --ds-background-accent-magenta-subtlest-pressed: #f797d2;
  --ds-background-accent-magenta-subtler: #fdd0ec;
  --ds-background-accent-magenta-subtler-hovered: #f797d2;
  --ds-background-accent-magenta-subtler-pressed: #e774bb;
  --ds-background-accent-magenta-subtle: #e774bb;
  --ds-background-accent-magenta-subtle-hovered: #f797d2;
  --ds-background-accent-magenta-subtle-pressed: #fdd0ec;
  --ds-background-accent-magenta-bolder: #ae4787;
  --ds-background-accent-magenta-bolder-hovered: #943d73;
  --ds-background-accent-magenta-bolder-pressed: #50253f;
  --ds-background-accent-gray-subtlest: #f1f2f4;
  --ds-background-accent-gray-subtlest-hovered: #dcdfe4;
  --ds-background-accent-gray-subtlest-pressed: #b3b9c4;
  --ds-background-accent-gray-subtler: #dcdfe4;
  --ds-background-accent-gray-subtler-hovered: #b3b9c4;
  --ds-background-accent-gray-subtler-pressed: #8590a2;
  --ds-background-accent-gray-subtle: #8590a2;
  --ds-background-accent-gray-subtle-hovered: #b3b9c4;
  --ds-background-accent-gray-subtle-pressed: #dcdfe4;
  --ds-background-accent-gray-bolder: #626f86;
  --ds-background-accent-gray-bolder-hovered: #44546f;
  --ds-background-accent-gray-bolder-pressed: #2c3e5d;
  --ds-background-disabled: #091e4208;
  --ds-background-input: #ffffff;
  --ds-background-input-hovered: #f7f8f9;
  --ds-background-input-pressed: #ffffff;
  --ds-background-inverse-subtle: #00000029;
  --ds-background-inverse-subtle-hovered: #0000003d;
  --ds-background-inverse-subtle-pressed: #00000052;
  --ds-background-neutral: #091e420f;
  --ds-background-neutral-hovered: #091e4224;
  --ds-background-neutral-pressed: #091e424f;
  --ds-background-neutral-subtle: #00000000;
  --ds-background-neutral-subtle-hovered: #091e420f;
  --ds-background-neutral-subtle-pressed: #091e4224;
  --ds-background-neutral-bold: #44546f;
  --ds-background-neutral-bold-hovered: #2c3e5d;
  --ds-background-neutral-bold-pressed: #172b4d;
  --ds-background-selected: #e9f2ff;
  --ds-background-selected-hovered: #cce0ff;
  --ds-background-selected-pressed: #85b8ff;
  --ds-background-selected-bold: #0c66e4;
  --ds-background-selected-bold-hovered: #0055cc;
  --ds-background-selected-bold-pressed: #09326c;
  --ds-background-brand-subtlest: #e9f2ff;
  --ds-background-brand-subtlest-hovered: #cce0ff;
  --ds-background-brand-subtlest-pressed: #85b8ff;
  --ds-background-brand-bold: #0c66e4;
  --ds-background-brand-bold-hovered: #0055cc;
  --ds-background-brand-bold-pressed: #09326c;
  --ds-background-brand-boldest: #1c2b41;
  --ds-background-brand-boldest-hovered: #09326c;
  --ds-background-brand-boldest-pressed: #0055cc;
  --ds-background-danger: #ffeceb;
  --ds-background-danger-hovered: #ffd5d2;
  --ds-background-danger-pressed: #fd9891;
  --ds-background-danger-bold: #c9372c;
  --ds-background-danger-bold-hovered: #ae2e24;
  --ds-background-danger-bold-pressed: #5d1f1a;
  --ds-background-warning: #fff7d6;
  --ds-background-warning-hovered: #f8e6a0;
  --ds-background-warning-pressed: #f5cd47;
  --ds-background-warning-bold: #f5cd47;
  --ds-background-warning-bold-hovered: #e2b203;
  --ds-background-warning-bold-pressed: #cf9f02;
  --ds-background-success: #dcfff1;
  --ds-background-success-hovered: #baf3db;
  --ds-background-success-pressed: #7ee2b8;
  --ds-background-success-bold: #1f845a;
  --ds-background-success-bold-hovered: #216e4e;
  --ds-background-success-bold-pressed: #164b35;
  --ds-background-discovery: #f3f0ff;
  --ds-background-discovery-hovered: #dfd8fd;
  --ds-background-discovery-pressed: #b8acf6;
  --ds-background-discovery-bold: #6e5dc6;
  --ds-background-discovery-bold-hovered: #5e4db2;
  --ds-background-discovery-bold-pressed: #352c63;
  --ds-background-information: #e9f2ff;
  --ds-background-information-hovered: #cce0ff;
  --ds-background-information-pressed: #85b8ff;
  --ds-background-information-bold: #0c66e4;
  --ds-background-information-bold-hovered: #0055cc;
  --ds-background-information-bold-pressed: #09326c;
  --ds-blanket: #091e427d;
  --ds-blanket-selected: #388bff14;
  --ds-blanket-danger: #ef5c4814;
  --ds-interaction-hovered: #00000029;
  --ds-interaction-pressed: #00000052;
  --ds-skeleton: #091e420f;
  --ds-skeleton-subtle: #091e4208;
  --ds-chart-categorical-1: #2898bd;
  --ds-chart-categorical-1-hovered: #227d9b;
  --ds-chart-categorical-2: #5e4db2;
  --ds-chart-categorical-2-hovered: #352c63;
  --ds-chart-categorical-3: #e56910;
  --ds-chart-categorical-3-hovered: #c25100;
  --ds-chart-categorical-4: #943d73;
  --ds-chart-categorical-4-hovered: #50253f;
  --ds-chart-categorical-5: #09326c;
  --ds-chart-categorical-5-hovered: #1c2b41;
  --ds-chart-categorical-6: #8f7ee7;
  --ds-chart-categorical-6-hovered: #8270db;
  --ds-chart-categorical-7: #50253f;
  --ds-chart-categorical-7-hovered: #3d2232;
  --ds-chart-categorical-8: #a54800;
  --ds-chart-categorical-8-hovered: #702e00;
  --ds-chart-lime-bold: #6a9a23;
  --ds-chart-lime-bold-hovered: #5b7f24;
  --ds-chart-lime-bolder: #5b7f24;
  --ds-chart-lime-bolder-hovered: #4c6b1f;
  --ds-chart-lime-boldest: #4c6b1f;
  --ds-chart-lime-boldest-hovered: #37471f;
  --ds-chart-neutral: #8590a2;
  --ds-chart-neutral-hovered: #758195;
  --ds-chart-red-bold: #f15b50;
  --ds-chart-red-bold-hovered: #e2483d;
  --ds-chart-red-bolder: #e2483d;
  --ds-chart-red-bolder-hovered: #c9372c;
  --ds-chart-red-boldest: #ae2e24;
  --ds-chart-red-boldest-hovered: #5d1f1a;
  --ds-chart-orange-bold: #e56910;
  --ds-chart-orange-bold-hovered: #c25100;
  --ds-chart-orange-bolder: #c25100;
  --ds-chart-orange-bolder-hovered: #a54800;
  --ds-chart-orange-boldest: #a54800;
  --ds-chart-orange-boldest-hovered: #702e00;
  --ds-chart-yellow-bold: #b38600;
  --ds-chart-yellow-bold-hovered: #946f00;
  --ds-chart-yellow-bolder: #946f00;
  --ds-chart-yellow-bolder-hovered: #7f5f01;
  --ds-chart-yellow-boldest: #7f5f01;
  --ds-chart-yellow-boldest-hovered: #533f04;
  --ds-chart-green-bold: #22a06b;
  --ds-chart-green-bold-hovered: #1f845a;
  --ds-chart-green-bolder: #1f845a;
  --ds-chart-green-bolder-hovered: #216e4e;
  --ds-chart-green-boldest: #216e4e;
  --ds-chart-green-boldest-hovered: #164b35;
  --ds-chart-teal-bold: #2898bd;
  --ds-chart-teal-bold-hovered: #227d9b;
  --ds-chart-teal-bolder: #227d9b;
  --ds-chart-teal-bolder-hovered: #206a83;
  --ds-chart-teal-boldest: #206a83;
  --ds-chart-teal-boldest-hovered: #164555;
  --ds-chart-blue-bold: #388bff;
  --ds-chart-blue-bold-hovered: #1d7afc;
  --ds-chart-blue-bolder: #1d7afc;
  --ds-chart-blue-bolder-hovered: #0c66e4;
  --ds-chart-blue-boldest: #0055cc;
  --ds-chart-blue-boldest-hovered: #09326c;
  --ds-chart-purple-bold: #8f7ee7;
  --ds-chart-purple-bold-hovered: #8270db;
  --ds-chart-purple-bolder: #8270db;
  --ds-chart-purple-bolder-hovered: #6e5dc6;
  --ds-chart-purple-boldest: #5e4db2;
  --ds-chart-purple-boldest-hovered: #352c63;
  --ds-chart-magenta-bold: #da62ac;
  --ds-chart-magenta-bold-hovered: #cd519d;
  --ds-chart-magenta-bolder: #cd519d;
  --ds-chart-magenta-bolder-hovered: #ae4787;
  --ds-chart-magenta-boldest: #943d73;
  --ds-chart-magenta-boldest-hovered: #50253f;
  --ds-chart-gray-bold: #8590a2;
  --ds-chart-gray-bold-hovered: #758195;
  --ds-chart-gray-bolder: #758195;
  --ds-chart-gray-bolder-hovered: #626f86;
  --ds-chart-gray-boldest: #44546f;
  --ds-chart-gray-boldest-hovered: #2c3e5d;
  --ds-chart-brand: #1d7afc;
  --ds-chart-brand-hovered: #0c66e4;
  --ds-chart-danger: #f15b50;
  --ds-chart-danger-hovered: #e2483d;
  --ds-chart-danger-bold: #ae2e24;
  --ds-chart-danger-bold-hovered: #5d1f1a;
  --ds-chart-warning: #b38600;
  --ds-chart-warning-hovered: #946f00;
  --ds-chart-warning-bold: #7f5f01;
  --ds-chart-warning-bold-hovered: #533f04;
  --ds-chart-success: #22a06b;
  --ds-chart-success-hovered: #1f845a;
  --ds-chart-success-bold: #216e4e;
  --ds-chart-success-bold-hovered: #164b35;
  --ds-chart-discovery: #8f7ee7;
  --ds-chart-discovery-hovered: #8270db;
  --ds-chart-discovery-bold: #5e4db2;
  --ds-chart-discovery-bold-hovered: #352c63;
  --ds-chart-information: #388bff;
  --ds-chart-information-hovered: #1d7afc;
  --ds-chart-information-bold: #0055cc;
  --ds-chart-information-bold-hovered: #09326c;
  --ds-surface: #ffffff;
  --ds-surface-hovered: #f1f2f4;
  --ds-surface-pressed: #dcdfe4;
  --ds-surface-overlay: #ffffff;
  --ds-surface-overlay-hovered: #f1f2f4;
  --ds-surface-overlay-pressed: #dcdfe4;
  --ds-surface-raised: #ffffff;
  --ds-surface-raised-hovered: #f1f2f4;
  --ds-surface-raised-pressed: #dcdfe4;
  --ds-surface-sunken: #f7f8f9;
  --ds-shadow-overflow: 0px 0px 8px #091e4229, 0px 0px 1px #091e421f;
  --ds-shadow-overflow-perimeter: #091e421f;
  --ds-shadow-overflow-spread: #091e4229;
  --ds-shadow-overlay: 0px 8px 12px #091e4226, 0px 0px 1px #091e424f;
  --ds-shadow-raised: 0px 1px 1px #091e4240, 0px 0px 1px #091e424f;
  --ds-opacity-disabled: 0.4;
  --ds-opacity-loading: 0.2;
  --ds-UNSAFE-transparent: transparent;
  --ds-elevation-surface-current: #ffffff;
  --ds-text-highEmphasis: #172b4d;
  --ds-text-link-pressed: #0055cc;
  --ds-text-link-resting: #0c66e4;
  --ds-text-lowEmphasis: #626f86;
  --ds-text-mediumEmphasis: #44546f;
  --ds-text-onBold: #ffffff;
  --ds-text-onBoldWarning: #172b4d;
  --ds-border-focus: #388bff;
  --ds-border-neutral: #091e4224;
  --ds-background-accent-red: #ffd2cc;
  --ds-background-accent-red-bold: #f87462;
  --ds-background-accent-orange: #ffe2bd;
  --ds-background-accent-orange-bold: #faa53d;
  --ds-background-accent-yellow: #f8e6a0;
  --ds-background-accent-yellow-bold: #e2b203;
  --ds-background-accent-green: #baf3db;
  --ds-background-accent-green-bold: #4bce97;
  --ds-background-accent-teal: #c1f0f5;
  --ds-background-accent-teal-bold: #60c6d2;
  --ds-background-accent-blue: #cce0ff;
  --ds-background-accent-blue-bold: #579dff;
  --ds-background-accent-purple: #dfd8fd;
  --ds-background-accent-purple-bold: #9f8fef;
  --ds-background-accent-magenta: #fdd0ec;
  --ds-background-accent-magenta-bold: #e774bb;
  --ds-background-blanket: #091e427d;
  --ds-background-boldBrand-hover: #0055cc;
  --ds-background-boldBrand-pressed: #09326c;
  --ds-background-boldBrand-resting: #0c66e4;
  --ds-background-boldDanger-hover: #ae2a19;
  --ds-background-boldDanger-pressed: #601e16;
  --ds-background-boldDanger-resting: #ca3521;
  --ds-background-boldDiscovery-hover: #5e4db2;
  --ds-background-boldDiscovery-pressed: #352c63;
  --ds-background-boldDiscovery-resting: #6e5dc6;
  --ds-background-boldNeutral-hover: #2c3e5d;
  --ds-background-boldNeutral-pressed: #172b4d;
  --ds-background-boldNeutral-resting: #44546f;
  --ds-background-boldSuccess-hover: #216e4e;
  --ds-background-boldSuccess-pressed: #164b35;
  --ds-background-boldSuccess-resting: #1f845a;
  --ds-background-boldWarning-hover: #cf9f02;
  --ds-background-boldWarning-pressed: #b38600;
  --ds-background-boldWarning-resting: #e2b203;
  --ds-background-card: #ffffff;
  --ds-background-default: #ffffff;
  --ds-background-inverse: #ffffff29;
  --ds-background-overlay: #ffffff;
  --ds-background-selected-hover: #cce0ff;
  --ds-background-selected-resting: #e9f2ff;
  --ds-background-subtleBorderedNeutral-pressed: #091e420f;
  --ds-background-subtleBorderedNeutral-resting: #091e4208;
  --ds-background-subtleBrand-hover: #cce0ff;
  --ds-background-subtleBrand-pressed: #85b8ff;
  --ds-background-subtleBrand-resting: #e9f2ff;
  --ds-background-subtleDanger-hover: #ffd2cc;
  --ds-background-subtleDanger-pressed: #ff9c8f;
  --ds-background-subtleDanger-resting: #ffedeb;
  --ds-background-subtleDiscovery-hover: #dfd8fd;
  --ds-background-subtleDiscovery-pressed: #b8acf6;
  --ds-background-subtleDiscovery-resting: #f3f0ff;
  --ds-background-subtleNeutral-hover: #091e4224;
  --ds-background-subtleNeutral-pressed: #091e424f;
  --ds-background-subtleNeutral-resting: #091e420f;
  --ds-background-subtleSuccess-hover: #baf3db;
  --ds-background-subtleSuccess-pressed: #7ee2b8;
  --ds-background-subtleSuccess-resting: #dffcf0;
  --ds-background-subtleWarning-hover: #f8e6a0;
  --ds-background-subtleWarning-pressed: #f5cd47;
  --ds-background-subtleWarning-resting: #fff7d6;
  --ds-background-sunken: #091e4208;
  --ds-background-transparentNeutral-hover: #091e420f;
  --ds-background-transparentNeutral-pressed: #091e4224;
  --ds-background-brand: #e9f2ff;
  --ds-background-brand-hovered: #cce0ff;
  --ds-background-brand-pressed: #85b8ff;
  --ds-interaction-inverse-hovered: #00000029;
  --ds-interaction-inverse-pressed: #00000052;
  --ds-accent-boldBlue: #579dff;
  --ds-accent-boldGreen: #4bce97;
  --ds-accent-boldOrange: #faa53d;
  --ds-accent-boldPurple: #9f8fef;
  --ds-accent-boldRed: #f87462;
  --ds-accent-boldTeal: #60c6d2;
  --ds-accent-subtleBlue: #cce0ff;
  --ds-accent-subtleGreen: #baf3db;
  --ds-accent-subtleMagenta: #fdd0ec;
  --ds-accent-subtleOrange: #ffe2bd;
  --ds-accent-subtlePurple: #dfd8fd;
  --ds-accent-subtleRed: #ffd2cc;
  --ds-accent-subtleTeal: #c1f0f5;
  --ds-iconBorder-brand: #1d7afc;
  --ds-iconBorder-danger: #e34935;
  --ds-iconBorder-warning: #d97008;
  --ds-iconBorder-success: #22a06b;
  --ds-iconBorder-discovery: #8270db;
  --ds-overlay-hover: #091e424f;
  --ds-overlay-pressed: #091e427d;
  --ds-card: 0px 1px 1px #091e4240, 0px 0px 1px #091e424f;
  --ds-overlay: 0px 8px 12px #091e4226, 0px 0px 1px #091e424f;
  --ds-UNSAFE_util-MISSING_TOKEN: #fa11f2;
  --ds-UNSAFE_util-transparent: transparent;
}

html[data-theme~='typography:typography-adg3'] {
  --ds-UNSAFE-textTransformUppercase: uppercase;
  --ds-font-letterSpacing-0: 0;
  --ds-font-letterSpacing-100: -0.003em;
  --ds-font-letterSpacing-200: -0.006em;
  --ds-font-letterSpacing-300: -0.008em;
  --ds-font-letterSpacing-400: -0.01em;
  --ds-font-heading-xxlarge: normal 500 2.1875rem/2.5rem ui-sans-serif,
    -apple-system, BlinkMacSystemFont, 'Segoe UI', Ubuntu, system-ui,
    'Helvetica Neue', sans-serif;
  --ds-font-heading-xlarge: normal 600 1.8125rem/2rem ui-sans-serif,
    -apple-system, BlinkMacSystemFont, 'Segoe UI', Ubuntu, system-ui,
    'Helvetica Neue', sans-serif;
  --ds-font-heading-large: normal 500 1.5rem/1.75rem ui-sans-serif,
    -apple-system, BlinkMacSystemFont, 'Segoe UI', Ubuntu, system-ui,
    'Helvetica Neue', sans-serif;
  --ds-font-heading-medium: normal 500 1.25rem/1.5rem ui-sans-serif,
    -apple-system, BlinkMacSystemFont, 'Segoe UI', Ubuntu, system-ui,
    'Helvetica Neue', sans-serif;
  --ds-font-heading-small: normal 600 1rem/1.25rem ui-sans-serif, -apple-system,
    BlinkMacSystemFont, 'Segoe UI', Ubuntu, system-ui, 'Helvetica Neue',
    sans-serif;
  --ds-font-heading-xsmall: normal 600 0.875rem/1rem ui-sans-serif,
    -apple-system, BlinkMacSystemFont, 'Segoe UI', Ubuntu, system-ui,
    'Helvetica Neue', sans-serif;
  --ds-font-heading-xxsmall: normal 600 0.75rem/1rem ui-sans-serif,
    -apple-system, BlinkMacSystemFont, 'Segoe UI', Ubuntu, system-ui,
    'Helvetica Neue', sans-serif;
  --ds-font-body-large: normal 400 1rem/1.5rem ui-sans-serif, -apple-system,
    BlinkMacSystemFont, 'Segoe UI', Ubuntu, system-ui, 'Helvetica Neue',
    sans-serif;
  --ds-font-body: normal 400 0.875rem/1.25rem ui-sans-serif, -apple-system,
    BlinkMacSystemFont, 'Segoe UI', Ubuntu, system-ui, 'Helvetica Neue',
    sans-serif;
  --ds-font-body-small: normal 400 0.6875rem/1rem ui-sans-serif, -apple-system,
    BlinkMacSystemFont, 'Segoe UI', Ubuntu, system-ui, 'Helvetica Neue',
    sans-serif;
  --ds-font-body-UNSAFE_small: normal 400 0.75rem/1rem ui-sans-serif,
    -apple-system, BlinkMacSystemFont, 'Segoe UI', Ubuntu, system-ui,
    'Helvetica Neue', sans-serif;
  --ds-font-code: normal 400 0.875em/1 ui-monospace, Menlo, 'Segoe UI Mono',
    'Ubuntu Mono', monospace;
  --ds-font-weight-regular: 400;
  --ds-font-weight-medium: 500;
  --ds-font-weight-semibold: 600;
  --ds-font-weight-bold: 700;
  --ds-font-family-heading: ui-sans-serif, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Ubuntu, system-ui, 'Helvetica Neue', sans-serif;
  --ds-font-family-body: ui-sans-serif, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Ubuntu, system-ui, 'Helvetica Neue', sans-serif;
  --ds-font-family-code: ui-monospace, Menlo, 'Segoe UI Mono', 'Ubuntu Mono',
    monospace;
  --ds-font-family-monospace: ui-monospace, Menlo, 'Segoe UI Mono',
    'Ubuntu Mono', monospace;
  --ds-font-family-sans: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  --ds-font-family-brand-heading: 'Charlie Display', ui-sans-serif,
    -apple-system, BlinkMacSystemFont, 'Segoe UI', Ubuntu, system-ui,
    'Helvetica Neue', sans-serif;
  --ds-font-family-brand-body: 'Charlie Text', ui-sans-serif, -apple-system,
    BlinkMacSystemFont, 'Segoe UI', Ubuntu, system-ui, 'Helvetica Neue',
    sans-serif;
  --ds-font-size-050: 0.6875rem;
  --ds-font-size-075: 0.75rem;
  --ds-font-size-100: 0.875rem;
  --ds-font-size-200: 1rem;
  --ds-font-size-300: 1.25rem;
  --ds-font-size-400: 1.5rem;
  --ds-font-size-500: 1.8125rem;
  --ds-font-size-600: 2.1875rem;
  --ds-font-lineHeight-1: 1;
  --ds-font-lineHeight-100: 1rem;
  --ds-font-lineHeight-200: 1.25rem;
  --ds-font-lineHeight-300: 1.5rem;
  --ds-font-lineHeight-400: 1.75rem;
  --ds-font-lineHeight-500: 2rem;
  --ds-font-lineHeight-600: 2.5rem;
}
html,
body,
p,
div,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
dl,
img,
pre,
form,
fieldset {
  margin: 0;
  padding: 0;
}
img,
fieldset {
  border: 0;
}
body,
html {
  width: 100%;
  height: 100%;
}
body {
  background-color: var(--ds-surface, #fff);
  color: var(--ds-text, #172b4d);
  font: var(
    --ds-font-body,
    normal 400 14px/1.42857 -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Roboto',
    'Oxygen',
    'Ubuntu',
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif
  );
  -ms-overflow-style: -ms-autohiding-scrollbar;
  -webkit-text-decoration-skip-ink: auto;
  text-decoration-skip-ink: auto;
}
p,
ul,
ol,
dl,
h1,
h2,
h3,
h4,
h5,
h6,
blockquote,
pre,
form,
table {
  margin: var(--ds-space-150, 12px) 0 0 0;
}
a {
  color: var(--ds-link, #0052cc);
  text-decoration: none;
}
a:hover {
  color: var(--ds-link, #0065ff);
  text-decoration: underline;
}
a:active {
  color: var(--ds-link-pressed, #0747a6);
}
a:focus-visible {
  outline: var(--ds-border-width-outline, 2px) solid
    var(--ds-border-focused, #2684ff);
  outline-offset: var(--ds-space-025, 2px);
}
@supports not selector(*:focus-visible) {
  a:focus {
    outline: var(--ds-border-width-outline, 2px) solid
      var(--ds-border-focused, #4c9aff);
    outline-offset: var(--ds-space-025, 2px);
  }
}
h1 {
  font: var(
    --ds-font-heading-xlarge,
    600 2.07143em/1.10345 -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Roboto',
    'Oxygen',
    'Ubuntu',
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif
  );
  letter-spacing: -0.01em;
  color: var(--ds-text);
  margin-top: var(--ds-space-500);
}
h2 {
  font: var(
    --ds-font-heading-large,
    500 1.71429em/1.16667 -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Roboto',
    'Oxygen',
    'Ubuntu',
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif
  );
  letter-spacing: -0.01em;
  color: var(--ds-text);
  margin-top: var(--ds-space-500);
}
h3 {
  font: var(
    --ds-font-heading-medium,
    500 1.42857em/1.2 -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Roboto',
    'Oxygen',
    'Ubuntu',
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif
  );
  letter-spacing: -0.008em;
  color: var(--ds-text);
  margin-top: 28px;
}
h4 {
  font: var(
    --ds-font-heading-small,
    600 1.14286em/1.25 -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Roboto',
    'Oxygen',
    'Ubuntu',
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif
  );
  letter-spacing: -0.006em;
  color: var(--ds-text);
  margin-top: var(--ds-space-300);
}
h5 {
  font: var(
    --ds-font-heading-xsmall,
    600 1em/1.14286 -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Roboto',
    'Oxygen',
    'Ubuntu',
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif
  );
  letter-spacing: -0.003em;
  color: var(--ds-text);
  margin-top: var(--ds-space-200);
}
h6 {
  font: var(
    --ds-font-heading-xxsmall,
    600 0.857143em/1.33333 -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Roboto',
    'Oxygen',
    'Ubuntu',
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif
  );
  color: var(--ds-text);
  margin-top: var(--ds-space-250);
  text-transform: uppercase;
}
ul,
ol,
dl {
  padding-left: var(--ds-space-500, 40px);
}
dd,
dd + dt,
li + li,
ul ul:not(:first-child),
ol ul:not(:first-child),
ul ol:not(:first-child),
ol ol:not(:first-child) {
  margin-top: var(--ds-space-050, 4px);
}
p:first-child,
ul:first-child,
ol:first-child,
dl:first-child,
h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child,
blockquote:first-child,
pre:first-child,
form:first-child,
table:first-child {
  margin-top: 0;
}
blockquote,
q {
  color: inherit;
}
blockquote {
  padding-left: var(--ds-space-500, 40px);
  border: none;
}
[dir='rtl'] blockquote {
  padding-left: 0;
  padding-right: var(--ds-space-500, 40px);
}
blockquote:before,
q:before {
  content: '“';
}
blockquote:after,
q:after {
  content: '”';
}
blockquote:before {
  float: left;
  text-align: right;
  width: 1em;
  margin-left: -1em;
}
[dir='rtl'] blockquote:before {
  float: right;
  text-align: left;
  margin-right: -1em;
}
blockquote > :last-child {
  display: inline-block;
}
small {
  font-size: 0.785714em;
  font-style: inherit;
  color: var(--ds-text-subtlest, var(--ds-text-subtlest, #6b778c));
  line-height: 1.45455;
  font-weight: var(--ds-font-weight-bold, 700);
  margin-top: 16px;
  font-weight: 400;
}
code,
kbd {
  font-family: var(
    --ds-font-family-code,
    'SFMono-Medium',
    'SF Mono',
    'Segoe UI Mono',
    'Roboto Mono',
    'Ubuntu Mono',
    Menlo,
    Consolas,
    Courier,
    monospace
  );
}
var,
address,
dfn,
cite {
  font-style: italic;
}
abbr {
  border-bottom: 1px var(--ds-border, #ccc) dotted;
  cursor: help;
}
@supports (color-scheme: dark) and (color-scheme: light) {
  [data-color-mode='light'] {
    color-scheme: light;
  }
  [data-color-mode='dark'] {
    color-scheme: dark;
  }
}
table {
  border-collapse: collapse;
  width: 100%;
}
thead,
tbody,
tfoot {
  border-bottom: 2px solid var(--ds-border, #dfe1e6);
}
td,
th {
  padding: var(--ds-space-050, 4px) var(--ds-space-100, 8px);
  text-align: left;
  border: none;
}
th {
  vertical-align: top;
}
td:first-child,
th:first-child {
  padding-left: 0;
}
td:last-child,
th:last-child {
  padding-right: 0;
}
caption {
  font: var(
    --ds-font-heading-medium,
    500 1.42857em/1.2 -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Roboto',
    'Oxygen',
    'Ubuntu',
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif
  );
  letter-spacing: -0.008em;
  color: var(--ds-text);
  margin-top: 28px;
  margin-bottom: var(--ds-space-100, 8px);
  text-align: left;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
  display: block;
}
@-moz-document url-prefix() {
  img {
    font-size: 0;
  }
  img:-moz-broken {
    font-size: inherit;
  }
}
button {
  font-family: inherit;
}
.assistive {
  clip: rect(1px, 1px, 1px, 1px) !important;
  white-space: nowrap !important;
  border: 0 !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  position: absolute !important;
  overflow: hidden !important;
}
